body {
    margin: 0;
    padding: 0;
}

.value_inner[data-search-term] {
    display: flex;
    align-items: center;    
}

.value_inner[data-search-term]::after {
    content: attr(data-search-term);
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.custom_select {
    width: calc(100% - 20px);
}

.custom_select, .custom_select_details {
    background: #4f4f4f;
    user-select: none;
    border: 1px solid #1d1d1d;
    border-radius: 1px;
    padding: 4px 10px;
    position: relative;
    color: rgb(233,233,233);
    box-shadow: 0 0 1px 0 #000;
}

.custom_select:hover {
    color: #fff;
    background: rgb(107,107,107);
}

.custom_select_details {
    display: none;
    flex-direction: column;
    gap: 2px;
    justify-content: space-between;
    position: absolute;
    padding: 0;
    overflow-y: scroll;
    width: 100%;
    max-height: 800px;
}

.custom_select_details opt[disabled] {
    color: #888;
    cursor: not-allowed;
}

.custom_select_details opt {
    display: block;
    padding: 4px 20px;
}

.custom_select_details group {
    display: flex;
    flex-direction: column;
}

.custom_select_details group::before {
    content: attr(label);
    position: relative;
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    font-style: italic;
    background: rgb(99,99,99);
    box-shadow: 0 2px 1px 0 #00000020, 0 -2px 1px 0 #00000020;
}

.custom_select_details .hidden_by_search {
    display: none;
}

.custom_select_details group::after {
    content: "\25BE";
    position: absolute;
    right: 15px;
    top: 5px;
}

.custom_select_details group.is_closed * {
    display: none;
}

.custom_select_details group.is_closed::after {
    transform: rotateX(90deg);
}

.custom_select_details opt.active {
    background: rgb(107,107,107);
}
